<html>
<link rel="stylesheet" type="text/css" href="cats.css">
<body>
	<div class="body">
		<h2>Click on the cat you want to find out info about!</h2>
		<a href="/garfield"><img src="cat1.jpeg" alt="cat"></a>
		<a href="/sylvester"><img src="cat2.jpeg" alt="cat"></a>
		<a href="/kitty"><img src="cat3.jpeg" alt="cat"></a>
	</div>
</body>
</html>