<html>
<!-- <link rel="stylesheet" type="text/css" href="cats.css"> -->
<body>
	<h1>Counter : <%= counter %> times</h1>
	<a href="/reset"><button>RESET</button> </a>
	<a href="/plus"><button>ADD TWO</button></a>
</body>
</html>