.header{
	width: 100%;
	height: 100px;
	background-image: url("wolfeyes1.png");

}
h2{
	text-align: center;
	text-decoration: underline;
	color: white;
}

.container{
	width: 100%;
}


.footer{
	width: 100%;
	height: 200px;
}

.pack{
	width: 100%;
}
.display-4{
	text-align: center;
}
.jumbolist{
	overflow: hidden;
	overflow-y: scroll;
}