<html>
<link rel="stylesheet" type="text/css" href="cars.css">
<body>
	<div class="body">
		<h2>Here are some cool cars drifting</h2>
		<img src="car1.jpeg" alt="car">
		<img src="car2.jpeg" alt="car">
		<img src="car3.jpeg" alt="car">
	</div>
</body>
</html>