<html>
<link rel="stylesheet" type="text/css" href="cats.css">
<body>
	<div class="body">
		<h2>Here are some pics of cats!</h2>
		<a href="/cars"><img src="cat1.jpeg" alt="cat"></a>
		<img src="cat2.jpeg" alt="cat">
		<img src="cat3.jpeg" alt="cat">
	</div>
</body>
</html>