<html>
<head>
	<title>NEW CAR FORM</title>
  <link rel="shortcut icon" type="text/css" href="#">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Best NFL Team?</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Raiders</option>
      <option>Option 4</option>
      <option>Raiders</option>
      <option>Raiders</option>
      <option>Option 2</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">My Predicted WEST NBA PLAYOFFS TEAMS</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>Lakers</option>
      <option>Clippers</option>
      <option>Rockets</option>
      <option>Warriors</option>
      <option>Trailblazers</option>
      <option>Nuggets</option>
      <option>Jazz</option>
      <option>Mavericks</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">In 10 words or less; What do you think is this country's biggest flaw?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
</body>
</html>